<%- include('partials/header') -%>
<h1 class="text-4xl mb-4">Connection Successfull created!</h1>

<div>
    <button class="btn btn-default">Try Connection</button>
    <form action=DELETE>
        <button class="btn btn-danger" type="submit" value="Delete">Delete Connection</button>
    </form>
</div>