<%- include('partials/header') -%>

  <h1 class="text-4xl mb-4">Register your own IdP</h1>
  
  <p class="py-3">
    You can provide your own IdP for Inbound Federation into our SaaS Application
    <strong>Note:</strong> Currently only OIDC and Saml supported
  </p>

  <form action ="/self-service" method="POST">

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="namef">Name</label>
      <div class="col-sm-10">
        <input type="text" name="namef" class="form-control" id="namef" placeholder="name">
      </div>
    </div>
    
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="strategy-select">Protocol</label>
      <div class="col-sm-10">
      <select class="form-control" id="strategy-select" name="strategy">
        <option selected disabled>Choose the Protocol</option>
        <option value="oidc">OpenID Connect</option>
        <option value="samlp">SAML</option>
      </select>
      </div>
    </div>

    <div id="oidc" style="display: none;">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="client_id">ClientId</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="client_id" id="client_id" placeholder="XYZ">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="scope">Scopes</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="scope" id="scope" placeholder="openid email profile">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="issuer">Issuer</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="issuer" id="issuer" placeholder="https://domain.com">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="auth_endpoint">Authorization Endpoint</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="auth_endpoint" id="auth_endpoint" placeholder="https://domain.com/oauth2/authorize">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="jwks">JWKS Endpoint</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="jwks" id="jwks" placeholder="https://domain.com/.well-known/openid-configuration/jwks">
        </div>
      </div>
    </div>

    <div id="samlp" style="display: none;">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="signInEndpoint">Signin Endpoint</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="signInEndpoint" id="signInEndpoint" placeholder="https://domain.com/">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="signingCert">Signing Certificate</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="3" name="signingCert" id="signingCert" placeholder="-----BEGIN CERTIFICATE-----abc=-----END CERTIFICATE-----"></textarea>

        </div>
      </div>
    </div>
    
    <br>
    <button class="btn btn-success" type="submit" value="Create">Create Connection</button>

  </form>

  

<%- include('partials/footer') -%>
<script>  
  $(document).ready(function(){
      $('#strategy-select').on('change', function() {
        if ( this.value == 'oidc')
        {
          $("#oidc").show();
          $("#oidc :input").prop('required',true);

          $("#samlp").hide();
          $("#samlp :input").prop('required',false);
        }
        if ( this.value == 'samlp')
        {
          $("#samlp").show();
          $("#samlp :input").prop('required',true);

          $("#oidc").hide();
          $("#oidc :input").prop('required',false);
        }
      });
  });
  </script>